@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.label {
    margin-right: $base-size;

    @media (max-width: 767px) {
        display: block;
        margin-right: 0;
        margin-bottom: $base-size;
        width: 100%;
    }
}